extends layout

block content
  h1 Add Note:
  p Click submit to save
  form(action="/" method="POST")
    input(name="noteTitle" type="text", placeholder="Title" class="form-control mt-3" style="width: 20% " requried)
    input(name="noteBody" type="text", placeholder="Enter description" class="form-control mt-3" style="width: 20%")
    button(type="submit" id="submit" class="btn btn-primary mt-3") Submit
  if notes
    h1 Notes: 
    for note in notes 
      div(class='row text-center mt-1')
        div(class='col-8')
          div(class='card')
            div(class='card-body')
              h5(class='card-title') #{note.title}
              h6(class='card-subtitle mb-2 text-muted') #{note.time} + #{note.id}
              p(class='card-text') #{note.body}
              a(type="submit" class="btn btn-secondary" href="/note/" + note.id) View
